@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.Content.Models.CodeBlockModel>

<div class="row mt-2">
	<div class="col-12">
		<h2>@Model.Heading</h2>
		<div>
			@Model.HeaderText
		</div>
		<div class="mt-2 mb-2">
			<pre><code>@Model.CodeText</code></pre>
		</div>
		<div>
			@Model.FooterText
		</div>

	</div>
</div>
