@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.Content.Models.ImageWithCaptionModel>
<div class="row">
	<div class="col-12">
		<h2>@Model.Heading</h2>
		<div class="card">
			<img class="card-img-top" src="@Model.FullSizeImage.Src)" alt="@Model.FullSizeImage.Alt"/>
			<div class="card-body">
				<div class="card-text">@Model.Caption</div>
			</div>
		</div>
	</div>
</div>
