@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.Content.Models.ContextContentModel>
<h1 class="mb-5">@Model.Heading</h1>

@if (this.IsEditing || Model.IntroCopy?.ToString().Length > 0)
{
	<div class="lead">@Model.IntroCopy</div>
}