@inherits Constellation.Foundation.Labels.EditorCompatibleView<IEnumerable<Feature.Navigation.Models.SectionCardModel>, Feature.Navigation.Models.SectionCardLabels>

<div>
	@foreach (var card in Model)
	{
	<div>
		<h5>@card.NavigationTitle</h5>
		<p>@card.MetaDescription</p>
		<a href="@card.Url">@Labels.ReadMore</a>
	</div>
	}
</div>