<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	<pipelines>
	  <initialize>
		  <!--
		  Configuration of the Initialize pipeline that allows you to specify routes to load in the normal ASP.NET MVC manner via the 
		  /App_Start/LoadRoutes.cs file. Note that you probably won't have any routes to define unless you have specific 3rd party integration requirements.
		  
		  Avoid using MVC Routes to get Sitecore data. Use regular Sitecore Item requests to get data, including XML and JSON.
		  
		  -->
		<processor type="Website.Pipelines.LoadRoutes,Website" patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" />
	  </initialize>
	</pipelines>
  </sitecore>
</configuration>
