<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<!-- The default is black, which seldom works with modern websites. -->
			<setting name="Media.DefaultImageBackgroundColor">
				<patch:attribute name="value">White</patch:attribute>
			</setting>

			<!-- Setting this to an empty string forces Sitecore to use the original file's extension. -->
			<setting name="Media.RequestExtension">
				<patch:attribute name="value"></patch:attribute>
			</setting>
			<!--  MEDIA LOWER CASE URLs
			
	            If true, Sitecore will generate lower case URLs when it uses the MediaProvider API and/or the link provider to render media URLs.
	            If blank, Sitecore will use the same value as the lowercaseUrls attribute from the link provider.
	            Default value: "" (use the value from the link provider)
			-->
			<setting name="Media.LowercaseUrls" value="true"/>
			<!--  MEDIA - INTERPOLATION
	            The interpolation mode to use when resizing images.
	            See also the System.Drawing.Drawing2D.InterpolationMode enum.
	            Valid values:  Bicubic
	                           Bilinear
	                           Default
	                           High
	                           HighQualityBicubic
	                           HighQualityBilinear
	                           Low
	                           NearestNeighbor
	            Default value: High
			-->
			<setting name="Media.InterpolationMode" value="Bicubic"/>
			<!--  MEDIA - RESIZING - QUALITY
	            Specifies the level of compression to use when resizing images. 
	            See also the System.Drawing.Imaging.Encoder.Quality field.
	            The range of values is 0 (lowest quality) to 100 (highest quality).
	            Default value: 95
			-->
			<setting name="Media.Resizing.Quality" value="80"/>
			<!--  MEDIA RESPONSE - CACHEABILITY
	            The <see cref="HttpCacheability">cacheability</see> to use in media response headers.
	            Possible values: NoCache, Private, Public, Server, ServerAndNoCache, ServerAndPrivate
	            Default value: private
			-->
			<setting name="MediaResponse.Cacheability" value="private"/>
			<!--  MEDIA RESPONSE - MAX AGE
	            The <see cref="HttpCachePolicy.SetMaxAge">max age</see> to use in media response headers.
	            Set it to "00:00:00" to omit this header.
	            Default value: 7.00:00:00 (seven days)
			-->
			<setting name="MediaResponse.MaxAge" value="7.00:00:00"/>
		</settings>
	</sitecore>
</configuration>
