<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<!-- 
			This should remain false unless you have a particular need (like in some multi-language setups)
			to have empty Items. 
			
			WARNING!!!! Having empty Items will probably mess with any dynamically generated navigation, lists
			search queries or sitemap files. Be sure you understand the implications before enabling this feature.
			-->
			<setting name="Publishing.PublishEmptyItems">
				<patch:attribute name="value">false</patch:attribute>
			</setting>
		</settings>
	</sitecore>
</configuration>
