<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<databases>
			<!--
			DATABASE CACHE SIZE SETTINGS
			
			Use this file to adjust the default cache sizes to match your implementation's needs.
			-->
			<database id="core" role:require="Standalone or Reporting or Processing or ContentManagement">
				<cacheSizes hint="setting">
					<data>200MB</data>
					<items>120MB</items>
					<paths>2.5MB</paths>
					<itempaths>25MB</itempaths>
					<standardValues>2.5MB</standardValues>
				</cacheSizes>
			</database>

			<database id="master" role:require="Standalone or Reporting or Processing or ContentManagement">
				<cacheSizes hint="setting">
					<data>200MB</data>
					<items>120MB</items>
					<paths>2.5MB</paths>
					<itempaths>25MB</itempaths>
					<standardValues>2.5MB</standardValues>
				</cacheSizes>
			</database>
			<database id="web">
				<cacheSizes hint="setting">
					<data>200MB</data>
					<items>120MB</items>
					<paths>2.5MB</paths>
					<itempaths>25MB</itempaths>
					<standardValues>2.5MB</standardValues>
				</cacheSizes>
			</database>
		</databases>
	</sitecore>
</configuration>
