<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<!--  Query.MaxItems
	            Specifies the max number of items in a query result set.
	            If the number is 0, all items are returned. This may affect system performance, if a
	            large query result is returned.
	            This also controls the number of items in Lookup, Multilist and Valuelookup fields.
	            Default value: 100
				
				Note: The default value of 100 is more than 15 years old. Modern computers and broadband can
				handle 1000 with no issues.
			-->
			<setting name="Query.MaxItems" value="1000"/>
		</settings>
	</sitecore>
</configuration>
