<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<!--  LAYOUT NOT FOUND HANDLER
			Url of page handling 'Layout not found' errors
			
			This setting will make LayoutNotFound errors "look like" 404 errors, which is the correct response for
			public facing websites.
			-->
			<setting name="LayoutNotFoundUrl" value="/not-found" />
		</settings>
	</sitecore>
</configuration>
