<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<!--  
			This value changes the caching behavior of cached renderings. Instead of them only being reset during a publish
			or hard cache-clear, they will now individually cycle out at a specific interval. Because they cycle in and out
			independently, there isn't the same hit to site performance as when you clear the entire site's HTML cache.
			In this file, we've selected 30min as the timeout for individual renderings, which makes it fairly easy to demonstrate
			the feature. In production you want this number to match any SLA you give your content authors for "time before content
			is visible on site".
			
			HTML LIFETIME
			The lifetime of HTML fragments added to the cache.
			Default value: 00:00:00 (ie. eternal life)
			-->
			<setting name="Caching.HtmlLifetime" value="00:30:00"/>
		</settings>
	</sitecore>
</configuration>
