<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
	<sitecore>
		<settings>
			<!--
			MAIL SETTINGS
			
			Use this file for mail settings on your local installation.
			-->

			<setting name="MailServer" env:require="Local">
				<patch:attribute name="value">127.0.0.1</patch:attribute>
			</setting>

			<setting name="Analytics.EMailFromAddress" env:require="Local">
				<patch:attribute name="value">noreply@examplesiteproject.com</patch:attribute>
			</setting>
		</settings>
	</sitecore>
</configuration>
