<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
	<sitecore>
		<settings>
			<!--
			ENABLE/DISABLE ANALYTICS
			
			Sitecore defaults to having Analytics turned on. Early in a project this can cause
			quite a few headaches and impact Sitecore startup time. Use this file to disable Analytics
			until you're ready.
			
			-->
			<setting name="Xdb.Enabled" value="false" env:require="Local" />
		</settings>
	</sitecore>
</configuration>
