<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
	<sitecore>
		<!--

		Purpose: Use this file as an example of how to add a new Site definition element to Sitecore.
		Please read to the end, as there are discrete settings for various pieces of Zodiac functionality.

		Copy this file so that it has a ".config" extension and change all the parameters to suit your own scenario
		I recommend running a Find and Replace for "projectName" and replacing it with your site name.

		As a general rule, all custom user sites should appear before the Sitecore default "website" site element.

		Note that "hostName" and "targetHostName" attributes are missing from the initial definition. They are declared in 
		separate patch elements because they change based on target environment.

		FOR A GIVEN SITE NAME, THIS FILE MUST APPEAR BEFORE ANY PATCH FILES THAT MODIFY THE SAME SITE ELEMENT!!!

		-->
		<sites>
			<site patch:before="site[@name='website']"
				  name="projectName"
				  scheme="https"
				  virtualFolder="/"
				  physicalFolder="/"
				  rootPath="/sitecore/content/projectName"
				  startItem="/home"
				  database="web"
				  domain="extranet"
				  cacheHtml="true"
				  htmlCacheSize="200MB"
				  registryCacheSize="0"
				  viewStateCacheSize="0"
				  xslCacheSize="2MB"
				  filteredItemsCacheSize="2MB"
				  allowDebug="true"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false"
		/>
		</sites>

		<!--
		SETTING THE HOSTNAME AND TARGETHOSTNAME VALUES BY ENVIRONMENT
		
			See the examples below. You must have the proper env:define element set in your App.Config file
			Valid values for env:require for Zodiac are:
			
				-Local
				- DevCM
				- DevCD
				- QACM
				- QACD
				- ProdCM
				- ProdCD
			
			See the App.Config file in Zodiac for further details.
		-->

		<sites env:require="Local">
			<site name="projectName">
				<patch:attribute name="hostName">projectName.dev.local</patch:attribute>
				<patch:attribute name="targetHostName">projectName.dev.local</patch:attribute>
			</site>
		</sites>
		<sites env:require="QACD">
			<site name="projectName">
				<patch:attribute name="hostName">projectName.qa.dev</patch:attribute>
				<patch:attribute name="targetHostName">projectName.qa.dev</patch:attribute>
			</site>
		</sites>
		<sites env:require="QACM">
			<site name="projectName">
				<patch:attribute name="hostName">projectName.cm.qa.dev</patch:attribute>
				<patch:attribute name="targetHostName">projectName.cm.qa.dev</patch:attribute>
			</site>
		</sites>
		<sites env:require="ProdCD">
			<site name="projectName">
				<patch:attribute name="hostName">www.projectName.com</patch:attribute>
				<patch:attribute name="targetHostName">www.projecprojectNametname.com</patch:attribute>
			</site>
		</sites>
		<sites env:require="ProdCM">
			<site name="projectName">
				<patch:attribute name="hostName">cm.projectName.com</patch:attribute>
				<patch:attribute name="targetHostName">cm.projectName.com</patch:attribute>
			</site>
		</sites>

		<!--

		PAGE NOT FOUND

			Each site in Zodiac can have its own specific 404 page. After you create the page, update the value of the 
			following attribute patch to be the ID of the page you want loaded in the event of a 404.

		-->
		<sites>
			<site name="projectName">
				<patch:attribute name="notFoundPageID">{00000000-0000-0000-0000-00000000}</patch:attribute>
			</site>
		</sites>


		<!--
		SITE SPECIFIC LINK PROVIDER
		
			Each site should explicitly define its own link provider settings to ensure that your language url strategy does not break
			native Sitecore functionality (or any other sites that might be added to the installation later!)
		
			You can use this in multi site installations where different sites have different rules for including the language in the URL.
	
			Options (first is default):
			addAspxExtension: false | true (If you set this to false, remember to configure IIS to map all requests (*) to ASP.NET)
			alwaysIncludeServerUrl: false | true
			encodeNames: true | false
			languageEmbedding: asNeeded | always | never
			languageLocation: filePath | queryString
			lowercaseUrls: true | false
			shortenUrls: true | false
			useDisplayName: false | true
		-->
		<linkManager defaultProvider="sitecore">
			<providers>
				<!-- Link Provider settings for the projectName -->
				<add name="projectNameProvider" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="always" languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false" />
			</providers>
		</linkManager>
		<sites>
			<site name="projectName">
				<patch:attribute name="linkProvider">projectNameProvider</patch:attribute>
			</site>
		</sites>

		<!--
		SITE LANGUAGE SETTINGS
		
			Use the following to specify what language the site should render in by default
			and which languages should be available for language switching.
		-->
		<sites>
			<site name="projectName">
				<patch:attribute name="language">en</patch:attribute>
				<patch:attribute name="supportedLanguages">en</patch:attribute>
			</site>
		</sites>


		<constellation>
			<robotsTxt>
				<!--
				ROBOTS TXT RULES FOR SITE
				
				Replace "projectName" with the name of your site node.
				-->
				<siteRules env:require="ProdCD">
					<projectName>
						<allow>/</allow>
						<disallow>/login</disallow>
					</projectName>
				</siteRules>
			</robotsTxt>
			<!--
			SITEMAP XML CRAWLER TO USE

			Allows you to specify the crawler class(es) used for this particular site.
			-->
			<sitemapXml>
				<crawlers>
					<site name="projectName">
						<crawler type="Constellation.Feature.PageTagging.SitemapXml.TreeCrawler, Constellation.Feature.PageTagging.SitemapXml" />
					</site>
				</crawlers>
			</sitemapXml>
		</constellation>
	</sitecore>
</configuration>