<div class="row">
    <div class="col-12">
        <h2>{{heading}}</h2>
        <div class="rich-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, eaque vero. Mollitia officiis, architecto itaque quia dignissimos eos nisi, aspernatur dolore corporis quo aut enim sequi non fugit, velit fuga.</p>
        </div>
    </div>
</div>