
  <!-- -------- START HEADER 1 w/ text and image on right ------- -->
<header>
  <div class="page-header min-vh-100">
    <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
      <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/images/pizza-banner.jpeg')"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
          <h1 class="text-gradient text-primary">Order Your Pizza!</h1>
          <h1 class="mb-4">30% Off</h1>
          <p class="lead pe-5 me-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique voluptatum officiis aut blanditiis recusandae optio magni dicta, expedita nihil omnis molestias</p>
          <div class="buttons">
            <button type="button" class="btn bg-gradient-primary mt-4">Order Now!</button>
            <button type="button" class="btn text-primary shadow-none mt-4">Track my Pizza</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- -------- END HEADER 1 w/ text and image on right ------- -->