<!-- API: https://sendpizzahackathon2022.docs.apiary.io/#reference/0/tracking-collection/get-tracking-information -->
<div id="tracking" 
    data-google-maps-key="{{ENV_GOOGLE_KEY}}"
    data-pusher-key="{{ENV_PUSHER_KEY}}"
    data-pusher-cluster="{{ENV_PUSHER_CLUSTER}}"
    data-simulation-url="https://danny8k.shadowx4fox.org/api/tracking"
    data-form-headline="TRACK MY PIZZA!"
    data-form-copy="Please enter your tracking number for locate your Pizza!"
    data-form-tracking-number="Tracking Number"
    data-form-tracking-number-placeholder="0001"
    data-form-submit-button="Track Order"
    data-result-status="Status"
    data-result-arrived-time="Arrived time"
    data-result-delivery-by="Delivery"
    data-result-plate="Plate"
    data-tracking-url="https://private-a619c8-sendpizzahackathon2022.apiary-mock.com/api/sitecore/tracking"
    data-home-pin-url="https://cdn0.iconfinder.com/data/icons/map-and-navigation-2-1/48/100-512.png"
    data-delivery-pin-url="https://cdn-icons-png.flaticon.com/512/171/171251.png"
    data-restaurant-pin-url= "https://cdn1.iconfinder.com/data/icons/pin-location-filled-outline/64/restaurant_place_pin_location_food-512.png"
    data-init-location="{lat: 0,long:0}"></div>