@inherits Constellation.Foundation.Labels.EditorCompatibleView<IEnumerable<Feature.Navigation.Models.SectionCardModel>, Feature.Navigation.Models.SectionCardLabels>

<div class="row row-cols-3">

	@foreach (var card in Model)
	{
		<div class="col mt-5">
			<div class="card h-100">
				<div class="card-body">
					<h5 class="card-title">@card.NavigationTitle</h5>
					<p class="card-text">@card.MetaDescription</p>
				</div>
				<div class="card-footer"><a href="@card.Url">@Labels.ReadMore</a></div>
			</div>
		</div>
	}

</div>