<!DOCTYPE html>
<html>
<head>
   {{> metadata/metadata-head }}
</head>
<body>
   {{> partials/navigation }}
   {{> components/masthead}}
    <main>
        {{> components/tracking}}
        {{> components/features}}
    </main>
    {{> partials/footer }}
    </body>
</html>