@using Sitecore.Mvc
@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.PrimaryContent.Models.AccordionTabModel>
@{
	var expanded = "false";

	if (Model.Expanded)
	{
		expanded = "true";
	}

}

<article class="accordion__item">
	<button class="accordion__item-trigger" aria-expanded="@expanded">
		<h3>@Model.Heading</h3>
		<span class="accordion__item-icon">
			<svg viewBox="0 0 14 2" class="accordion__item-icon-minus">
				<use xlink:href="#minus" />
			</svg>
			<svg viewBox="0 0 14 14" class="accordion__item-icon-plus">
				<use xlink:href="#plus" />
			</svg>
		</span>
	</button>
	<div role="region" class="accordion__item-panel">
		<div class="accordion__item-content">
			<div class="rtf accordion__item-description">
				@Model.Copy
				@Html.Sitecore().DynamicPlaceholder("AccordionTabContent")
			</div>
		</div>
	</div>
</article>