@using Sitecore.Mvc
<div class="row mt-3">
	<div class="col-lg-4">
		@Html.Sitecore().DynamicPlaceholder("AuxiliaryComponents")
	</div>
	<div class="col-8">
		@Html.Sitecore().DynamicPlaceholder("ContentSections")
	</div>
</div>
