@using Sitecore.Mvc
<div class="row mt-3">
	<div class="col-lg-6">
		@Html.Sitecore().DynamicPlaceholder("LeftColumn")
	</div>
	<div class="col-lg-6">
		@Html.Sitecore().DynamicPlaceholder("RightColumn")
	</div>
</div>
