<?xml version="1.0" encoding="utf-8" ?>
<appSettings configBuilders="SitecoreAppSettingsBuilder">
	<!--
	================================================================
	IMPORTANT!!!! THIS FILE WILL NOT BE COPIED TO DEPLOYMENT TARGETS
	================================================================
	
	Ensure that the Visual Studio Properties for this file are:
	
	Build Action: None
	Copy to Output Directory: Do not copy
	
	Otherwise, you will disable your target installation.
	
	You must manually place a copy of this file on each deployment target and
	adjust the values here to match that environment, particularly:
	
	EmailReminder.FromAddress
	role:define
	env:define
	security:define
	owin:AppStartup
	exmEnabled
	
	
	Failure to have this file on the target will raise a Web.Config error on load.
	-->

	<add key="EmailReminder.FromAddress" value="name@server.net" />
	<!-- NetSpell directory -->
	<add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
	<add key="Lucene.Net.FSDirectory.class" value="Sitecore.Search.FSDirectory, Sitecore.Kernel" />
	<add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
	<!-- Telerik keys -->
	<add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="bF662EPWn9Jwgyye4NSTkxPrqQOlWoyAm4v5xCftNcctmQQSZaaZ0AjNZcyNoyYPReSjUcw12K2GJpo6koZYbrz5eydlR4hPnf7a9nPkCswluvMsa9GMR7aFG8BtKbxw44SJPe2sG8Z97JXCbLF99PfWBPxo2lXDEQ4YAjdS4cY8W3wGImwd0FeAimS0dJLnOKQsFFJhOXyBonhfvbwdSthEhl0WhBOzKknhiGNh75HqHphBagknb3uYzZ0jtMIR" />
	<add key="Telerik.Upload.ConfigurationHashKey" value="bF662EPWn9Jwgyye4NSTkxPrqQOlWoyAm4v5xCftNcctmQQSZaaZ0AjNZcyNoyYPReSjUcw12K2GJpo6koZYbrz5eydlR4hPnf7a9nPkCswluvMsa9GMR7aFG8BtKbxw44SJPe2sG8Z97JXCbLF99PfWBPxo2lXDEQ4YAjdS4cY8W3wGImwd0FeAimS0dJLnOKQsFFJhOXyBonhfvbwdSthEhl0WhBOzKknhiGNh75HqHphBagknb3uYzZ0jtMIR" />
	<add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="bF662EPWn9Jwgyye4NSTkxPrqQOlWoyAm4v5xCftNcctmQQSZaaZ0AjNZcyNoyYPReSjUcw12K2GJpo6koZYbrz5eydlR4hPnf7a9nPkCswluvMsa9GMR7aFG8BtKbxw44SJPe2sG8Z97JXCbLF99PfWBPxo2lXDEQ4YAjdS4cY8W3wGImwd0FeAimS0dJLnOKQsFFJhOXyBonhfvbwdSthEhl0WhBOzKknhiGNh75HqHphBagknb3uYzZ0jtMIR" />
	<!-- Throttle concurrent requests per session specifies how many requests with same Session ID are allowed to be executed simultaneously. -->
	<add key="aspnet:RequestQueueLimitPerSession" value="25" />
	<!-- SUPPORTED SERVER ROLES     
		Specify the roles that you want this server to perform. A server can perform one or more roles. Enter the roles in a comma separated list. The supported roles are:

			ContentDelivery
			ContentManagement
			ContentDelivery, Indexing
			ContentManagement, Indexing
			Processing
			[Obsolete] Reporting
			Standalone
			
		Default value: Standalone
		-->
	<add key="role:define" value="Standalone" />

	<!-- SUPPORTED ENVIRONMENTS 
		Specify the Environments for this server.  Valid Values are:
		
			Local
			DevCM
			DevCD
			QACM
			QACD
			ProdCM
			ProdCD
		
		Default value: Local
		-->
	<add key="env:define" value="Local"/>
	<!-- SUPPORTED SEARCH PROVIDERS     
		Specify the search provider that you want this server to use. The supported search providers are:

			Solr

		Default value: Solr
		-->
	<add key="search:define" value="Solr" />
	<!-- SUPPORTED MEMBERSHIP CONFIGURATION FOR CONTENT DELIVERY
		Specify the membership configuration that you want this server to use for Content Delivery role. The supported options are:

			Sitecore
			None

		Default value: Sitecore
		-->
	<add key="security:define" value="Sitecore"/>
	<add key="owin:appStartup" value="Sitecore.Owin.Startup, Sitecore.Owin"/>
	<add key="messagingTransport:define" value="SQL"/>
	<add key="marketingDefinitionsAssignment:define" value="Both"/>
	<add key="eds:define" value="CustomSMTP"/>
	<add key="exmEnabled:define" value="no"/>
	<add key="AllowInvalidClientCertificates" value="false"/>
</appSettings>