<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
	================================================================
	IMPORTANT!!!! THIS FILE WILL NOT BE COPIED TO DEPLOYMENT TARGETS
	================================================================
  
  
	This file is here to satisfy the needs of the web.config, but is NOT DEPLOYED.
	Your connectionstrings.config file should be the one that was created by SIF
	
	Ensure that the Visual Studio Properties for this file are:
	
	Build Action: None
	Copy to Output Directory: Do not copy
	
	Otherwise, you will disable your target installation.
  -->
</connectionStrings>