<?xml version="1.0" encoding="utf-8"?>
<!--
	This document ensures that IIS Rewrite 2.x doesn't interfere with any Sitecore APIs.
	It's also a good place to enforce HTTPS and also handle any DNS-level URL redirects (such as canonical "www")
-->
<rules>
	<clear />
	<!-- 
		Sitecore 10 installs with HTTPS out of the box, but doesn't automatically shunt to HTTPS. 
		This rule handles the shunt gracefully.
	-->
	<rule name="Force HTTPS" patternSyntax="Wildcard" stopProcessing="true">
		<match url="*" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			<add input="{HTTPS}" pattern="off" />
		</conditions>
		<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
	</rule>
	<rule name="Stop on System URLs" stopProcessing="true">
		<match url=".*" />
		<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{URL}" pattern="^/identity" />
			<add input="{URL}" pattern="^/sitecore" />
			<add input="{URL}" pattern="^/temp" />
			<add input="{URL}" pattern="^/_dev" />
			<add input="{URL}" pattern="^/ScriptResource" />
			<add input="{URL}" pattern="^/WebResource" />
			<add input="{URL}" pattern="^/layouts/system" />
			<add input="{URL}" pattern="api" />
			<add input="{URL}" pattern="\.js" />
			<add input="{URL}" pattern="\.css" />
			<add input="{URL}" pattern="\.axd" />
			<add input="{URL}" pattern="\.asmx" />
			<add input="{URL}" pattern="\.svc" />
			<add input="{URL}" pattern="\/-\/speak" />
			<add input="{URL}" pattern="/-/speak" />
			<add input="{HTTP_URL}" pattern="\?.*sc_mode" />
		</conditions>
		<action type="None" />
	</rule>
	<rule name="Remove Trailing Slash" stopProcessing="true">
		<match url="(.*)/$" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
		<action type="Redirect" url="{R:1}" />
	</rule>
	<rule name="Lowercase Inbound URLs" stopProcessing="true">
		<match url="[A-Z]" ignoreCase="false" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
		<action type="Redirect" url="{ToLower:{URL}}" />
	</rule>
</rules>
